
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@1,700&family=Lato&family=Yeseva+One&display=swap');
/* 
font-family: 'Gentium Book Plus', serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive; */

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: auto;
}
.hero{
    height: 100vh;
    background-image: url("./assets/img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 10vh;
}
header > nav{
    display: none;
}
nav > ul {
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
    
}
li>a{
    text-decoration: none;
    color: white;
    font-family: 'Gentium Book Plus', serif;
    font-size: 21px;
    font-weight: 700;

}
.hero-header-icons{
    display: flex;
    gap: 20px;
    align-items: center;
}

/* hero main content */
.hero-main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 120px;
    align-items: center;
    height: 90vh;
    gap: 50px;
    font-family: 'Yeseva One', cursive; 
}
.hero-main-text{
    
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    color: white;
}
.hero-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
    
    
}
.hero-buttons > button{
    color: white;
    padding: 10px 25px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#btn-book-table{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}
#btn-see-menu{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
}


/******************** About section ****************/
.about{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-image: url("./assets/img/Section-Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
}
.image-dish img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}
.about-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.about-title{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    color: #CC9900;
}
.about-sub-text{
    padding: 15px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #4C4C4C;
    text-align: justify;
}
.about-chef-signature{
    margin-left: 50px;
}





/**************** Ingredients Section *******************/

.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url("./assets/img/bg-ingr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 700px;
    color: white;
}
.placeholder-ingredients{
    display: none;
}

.black-box-ingredient{
    background-color: rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 60%;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
   
}
.ingredients-main-text{
    font-family: 'Yeseva One', cursive; 
    font-size: 30px;
    font-weight: 400;
    text-align: justify ;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    color: white;

}
.ingredients-description{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    color: white;

}

.ingredients-image-group{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}
.ingredients-image-group img{
    width: 80px;
    border-radius: 50%;
}

/********************** Menu Section ***************/
.menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    
    

    background-image: url("./assets/img/Section-Background.png");
    background-size: fit-content;
   
    background-repeat: repeat;
    position: relative;

}
.menu-lelf-col, .menu-right-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}
.menu-course-meal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.menu-course-item{
    width: 80%;
}
.menu-course-title{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    color: #CC9900;
}

.menu-course-item-title{
    display: flex;
    gap: 10px;
    color:#C89F2D;
}
.menu-course-item-linebreak{
    height: 1px;
    width: 100%;
    border: none;
    background-color:  #C89F2D;
}
.menu-course-item-description{
    font-family: "Lato", sans-serif;
    font-size: 11px;
    color: #4C4C4C;
}


/**************** Reviews Section ****************/
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/img/bg-brochette.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
   
   
}
.reviews-blackbox{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    width: 80%;
    height: 80%;
}
.reviews-blackbox-title{
    margin-top: 80px;
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    color: white;
    
}
.reviews-blackbox p{
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: white;
    text-align: center;
    line-height: 1.5;
}
.reviews-blackbox-quote-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

q {
    quotes: "“" "”"; /* Specify custom quotes */
    font-size: 16px; /* Adjust font size as needed */
    color: #DDE0DF;
    width: 80%;
    display: block;
}

q::before {
    content: open-quote; /* Use the custom opening quotation mark */
    font-size: 2em; /* Adjust size for opening quote */
    vertical-align: center; /* Align the opening quote to the top */
}

q::after {
    content: close-quote; 
    display: none;
}

q cite {
    display: block; /* Move the cite to a new line */
    
    font-size: 8px; /* Adjust font size for the cite */
}

/****************** Book Form Section *************/
.book-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-image: url("./assets/img/Section-Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    width: 100vw;
    
}
.book-form-imgs-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.book-form-imgs-group img{
    width: 130px;
    height: 260px;
    border-radius: 10px;
}
.book-form-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}
.book-form-text-title{
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    color: #CC9900;
}
.book-form-text p{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #4C4C4C;
    text-align: center;
    line-height: 1.5;
}
.book-form-text-input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.book-form-text-input-group-name, .book-form-text-input-group-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #C9A131;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
}
.book-form-text form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.book-form-text input{
    width: 130px;
    height: 30px;
    border: 1px solid #C89F2D;
    border-radius: 5px;
}

.book-form-text button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #C89F2DFA;
    border: 1px solid #C89F2D;
    color: white;
}

/********************* footer *******************/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    gap: 20px;
}
.map > iframe{
    width: 300px;
    height: 300px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.footer-text-section-title{
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    
}
