*{
    margin: 0;
    padding: 0;
}

.hero{
    height: 100vh;
    background-image: url("./assets/img/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

header{
    display: flex;
    justify-content: space-around;
    color: white;
}
nav > ul {
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
    
}
li>a{
    text-decoration: none;
    color: white;

}
.hero-header-icons{
    display: flex;
    gap: 20px;
    align-items: center;
}